! ./1fichier-downloader.py
! ./gofile-downloader.py
! ./downloader.sh
! ./requirements.txt
! ./README.md
! ./link.sh.template
! ./metadata.pegasus.txt.template
! ./pegasus.sh
! ./.gitignore
! ./cookies

*
